In [24]:
import org.apache.spark.sql.SparkSession

lastException: Throwable = null

In [26]:
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", "/user/itv001389/warehouse").
    enableHiveSupport.
    master("yarn").
    appName("Getting Started - Spark with Scala").
    getOrCreate

spark = org.apache.spark.sql.SparkSession@19f3d903

org.apache.spark.sql.SparkSession@19f3d903

# Creating Orders table

In [30]:
spark.sql("CREATE DATABASE raj_retail_db")

[]

In [32]:
spark.sql("use raj_retail_db")

[]

In [51]:
val df = spark.read.format("csv").schema("order_id int ,Order_date timestamp ,Order_product_id int ,Order_status string")
.load("hdfs://m01.itversity.com:9000/user/itv001389/retail_db/orders")

df = [order_id: int, Order_date: timestamp ... 2 more fields]

[order_id: int, Order_date: timestamp ... 2 more fields]

In [52]:
df.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- Order_date: timestamp (nullable = true)
 |-- Order_product_id: integer (nullable = true)
 |-- Order_status: string (nullable = true)

In [53]:
df.count()

68883

In [54]:
df.write.saveAsTable("raj_retail_db.Orders")

In [55]:
spark.sql("select count(*) from Orders").show()

+--------+
|count(1)|
+--------+
|   68883|
+--------+

In [57]:
spark.sql("select * from Orders limit 2").printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- Order_date: timestamp (nullable = true)
 |-- Order_product_id: integer (nullable = true)
 |-- Order_status: string (nullable = true)

# Creating Order Items table

In [59]:
val df1 = spark.read.format("csv").schema("order_item_id int,order_item_order_id int,order_item_product_id int,order_item_quantity int,order_item_subtotal decimal(17,4),order_item_product_price decimal(17,4)")
.load("hdfs://m01.itversity.com:9000/user/itv001389/retail_db/order_items")

df1 = [order_item_id: int, order_item_order_id: int ... 4 more fields]

[order_item_id: int, order_item_order_id: int ... 4 more fields]

In [60]:
df1.count()

172198

In [61]:
df1.printSchema()

root
 |-- order_item_id: integer (nullable = true)
 |-- order_item_order_id: integer (nullable = true)
 |-- order_item_product_id: integer (nullable = true)
 |-- order_item_quantity: integer (nullable = true)
 |-- order_item_subtotal: decimal(17,4) (nullable = true)
 |-- order_item_product_price: decimal(17,4) (nullable = true)

In [62]:
df1.write.saveAsTable("raj_retail_db.Order_items")

In [63]:
spark.sql("show tables").show()

+-------------+-----------+-----------+
|     database|  tableName|isTemporary|
+-------------+-----------+-----------+
|raj_retail_db|order_items|      false|
|raj_retail_db|     orders|      false|
+-------------+-----------+-----------+

In [64]:
spark.sql("create external table orders_raj_nopath_text_test ( Order_id int, order_date timestamp, order_number int, order_status String) row format delimited fields terminated by ',' stored as textfile location '/user/itv001389/retail_db/orders_raj_nopath_text_test'");

[]

In [66]:
spark.sql("show tables").show(false)

+-------------+---------------------------+-----------+
|database     |tableName                  |isTemporary|
+-------------+---------------------------+-----------+
|raj_retail_db|order_items                |false      |
|raj_retail_db|orders                     |false      |
|raj_retail_db|orders_raj_nopath_text_test|false      |
+-------------+---------------------------+-----------+

In [67]:
spark.sql("show create table orders_raj_nopath_text_test").show(false)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|createtab_stmt                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|CREATE EXTERNAL TABLE `orders_raj_nopath_text_test`(`Order_id` INT, `order_date` TIMESTAMP, `order_number` INT, `order_status` STRING)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
WITH SERDEPROPERTIES (
  'field.delim' = ',',
  'serialization.format' = ','
)
STORED AS
  INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat'
  OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION 'hdfs://m01.itversity.com:9000/user/itv001389/retail_db/orders_raj_nopath_text_test'
TBLPROPERTIES (
  'transient_lastDdlTime' = '1634322859'
)
|
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+