###  03_OrderItem_table_creation

In [32]:
import org.apache.spark.sql.SparkSession

lastException: Throwable = null

In [33]:
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", "/user/itv001389/warehouse").
    enableHiveSupport.
    master("yarn").
    appName("Getting Started - Spark with Scala").
    getOrCreate

spark = org.apache.spark.sql.SparkSession@4d5b201f

org.apache.spark.sql.SparkSession@4d5b201f

In [34]:
spark.sql("use Raj")

[]

In [15]:
spark.sql("show tables").show(false)

+--------+------------------+-----------+
|database|tableName         |isTemporary|
+--------+------------------+-----------+
|raj     |order_immu        |false      |
|raj     |orderitem_orc     |false      |
|raj     |order_items       |false      |
|raj     |order_orc         |false      |
|raj     |orders            |false      |
|raj     |order_skip_header |false      |
|raj     |order_skip_header1|false      |
|raj     |order_skip_header2|false      |
|raj     |order_skip_header3|false      |
|raj     |order_snap        |false      |
+--------+------------------+-----------+

In [5]:
spark.sql("describe formatted order_items ").show(false)

+----------------------------+-------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                |comment|
+----------------------------+-------------------------------------------------------------------------+-------+
|order_item_id               |int                                                                      |null   |
|order_item_order_id         |int                                                                      |null   |
|order_item_product_id       |int                                                                      |null   |
|order_item_quantity         |int                                                                      |null   |
|order_item_subtotal         |decimal(17,4)                                                            |null   |
|order_item_product_price    |decimal(17,4)                                                            |null   |
|                            |                                                                         |       |
|# Detailed Table Information|                                                                         |       |
|Database                    |raj                                                                      |       |
|Table                       |order_items                                                              |       |
|Owner                       |itv001389                                                                |       |
|Created Time                |Sat Oct 16 03:39:50 EDT 2021                                             |       |
|Last Access                 |Wed Dec 31 19:00:00 EST 1969                                             |       |
|Created By                  |Spark 2.4.7                                                              |       |
|Type                        |MANAGED                                                                  |       |
|Provider                    |parquet                                                                  |       |
|Table Properties            |[transient_lastDdlTime=1634369990]                                       |       |
|Statistics                  |1619257 bytes                                                            |       |
|Location                    |hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/order_items|       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe              |       |
+----------------------------+-------------------------------------------------------------------------+-------+
only showing top 20 rows

In [6]:
spark.sql("select * from order_items limit 5").show(false)

+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|153414       |61321              |1014                 |4                  |199.9200           |49.9800                 |
|153415       |61321              |403                  |1                  |129.9900           |129.9900                |
|153416       |61321              |1014                 |3                  |149.9400           |49.9800                 |
|153417       |61321              |403                  |1                  |129.9900           |129.9900                |
|153418       |61322              |1073                 |1                  |199.9900           |199.9900                |
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+

In [7]:
spark.sql("select count(*) from order_items ").show()

+--------+
|count(1)|
+--------+
|  172198|
+--------+

In [ ]:
spark.sql("create table raj.orderitem_orc(order_item_id int,order_item_order_id int,order_item_product_id int,order_item_quantity int,order_item_subtotal decimal(17,4),order_item_product_price decimal(17,4) ) stored as orc location 'hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/order_items_orc' ")

In [17]:
spark.sql("describe formatted raj.orderitem_orc").show(false)

+----------------------------+-----------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                    |comment|
+----------------------------+-----------------------------------------------------------------------------+-------+
|order_item_id               |int                                                                          |null   |
|order_item_order_id         |int                                                                          |null   |
|order_item_product_id       |int                                                                          |null   |
|order_item_quantity         |int                                                                          |null   |
|order_item_subtotal         |decimal(17,4)                                                                |null   |
|order_item_product_price    |decimal(17,4)                                                                |null   |
|                            |                                                                             |       |
|# Detailed Table Information|                                                                             |       |
|Database                    |raj                                                                          |       |
|Table                       |orderitem_orc                                                                |       |
|Owner                       |itv001389                                                                    |       |
|Created Time                |Sat Oct 16 07:11:04 EDT 2021                                                 |       |
|Last Access                 |Wed Dec 31 19:00:00 EST 1969                                                 |       |
|Created By                  |Spark 2.4.7                                                                  |       |
|Type                        |EXTERNAL                                                                     |       |
|Provider                    |hive                                                                         |       |
|Table Properties            |[transient_lastDdlTime=1634382664]                                           |       |
|Location                    |hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/order_items_orc|       |
|Serde Library               |org.apache.hadoop.hive.ql.io.orc.OrcSerde                                    |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.orc.OrcInputFormat                              |       |
+----------------------------+-----------------------------------------------------------------------------+-------+
only showing top 20 rows

lastException: Throwable = null

In [49]:
spark.sql("describe formatted raj.orderitem_orc").show(false)

+----------------------------+-----------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                    |comment|
+----------------------------+-----------------------------------------------------------------------------+-------+
|order_item_id               |int                                                                          |null   |
|order_item_order_id         |int                                                                          |null   |
|order_item_product_id       |int                                                                          |null   |
|order_item_quantity         |int                                                                          |null   |
|order_item_subtotal         |decimal(17,4)                                                                |null   |
|order_item_product_price    |decimal(17,4)                                                                |null   |
|                            |                                                                             |       |
|# Detailed Table Information|                                                                             |       |
|Database                    |raj                                                                          |       |
|Table                       |orderitem_orc                                                                |       |
|Owner                       |itv001389                                                                    |       |
|Created Time                |Sat Oct 16 07:11:04 EDT 2021                                                 |       |
|Last Access                 |Wed Dec 31 19:00:00 EST 1969                                                 |       |
|Created By                  |Spark 2.4.7                                                                  |       |
|Type                        |EXTERNAL                                                                     |       |
|Provider                    |hive                                                                         |       |
|Table Properties            |[transient_lastDdlTime=1634382664]                                           |       |
|Location                    |hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/order_items_orc|       |
|Serde Library               |org.apache.hadoop.hive.ql.io.orc.OrcSerde                                    |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.orc.OrcInputFormat                              |       |
+----------------------------+-----------------------------------------------------------------------------+-------+
only showing top 20 rows

In [37]:
spark.sql("insert into table raj.orderitem_orc select * from Raj.order_items")

[]

In [ ]:
spark.sql("show create table raj.orderitem_orc").show(false)

In [25]:
spark.sql("create table raj.orderitem_par(order_item_id int,order_item_order_id int,order_item_product_id int,order_item_quantity int,order_item_subtotal decimal(17,4),order_item_product_price decimal(17,4) ) stored as parquet location 'hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/order_items_par' ")

[]

In [36]:
spark.sql("insert into raj.orderitem_par select * from Raj.order_items")

[]

In [28]:
spark.sql("create table raj.orderitem_nor(order_item_id int,order_item_order_id int,order_item_product_id int,order_item_quantity int,order_item_subtotal decimal(17,4),order_item_product_price decimal(17,4) ) row format delimited fields terminated by ',' location 'hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/order_items_nor' ")

lastException: Throwable = null

[]

In [35]:
spark.sql("insert into table raj.orderitem_nor  select * from Raj.order_items")

[]

In [38]:
spark.sql("select * from raj.orderitem_orc limit 2").show()

+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|            1|                  1|                  957|                  1|           299.9800|                299.9800|
|            2|                  2|                 1073|                  1|           199.9900|                199.9900|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+

In [39]:
spark.sql("select * from raj.orderitem_par limit 2").show()

+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|       153414|              61321|                 1014|                  4|           199.9200|                 49.9800|
|       153415|              61321|                  403|                  1|           129.9900|                129.9900|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+

In [40]:
spark.sql("select * from raj.orderitem_nor limit 2").show()

+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|            1|                  1|                  957|                  1|           299.9800|                299.9800|
|            2|                  2|                 1073|                  1|           199.9900|                199.9900|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+

In [41]:
spark.sql("select count(*) from Raj.order_orc").show()

+--------+
|count(1)|
+--------+
|   68883|
+--------+