In [2]:
import org.apache.spark.sql.SparkSession

In [3]:
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", "/user/itv001389/warehouse").
    enableHiveSupport.
    master("yarn").
    appName("Getting Started - Spark with Scala").
    getOrCreate

spark = org.apache.spark.sql.SparkSession@7b3cd46

org.apache.spark.sql.SparkSession@7b3cd46

In [3]:
!ls

Compile Error: <console>:27: error: not found: value ls
       !ls
        ^

In [4]:
spark.sql("use raj")

[]

In [9]:
spark.sql("show tables").show(false)

+---------+--------------------------------+-----------+
|database |tableName                       |isTemporary|
+---------+--------------------------------+-----------+
|itv001389|bucketed_user                   |false      |
|itv001389|new_test                        |false      |
|itv001389|order_items_bucket              |false      |
|itv001389|order_item_sra                  |false      |
|itv001389|order_par                       |false      |
|itv001389|order_rev                       |false      |
|itv001389|order_rev1                      |false      |
|itv001389|orders_header_skip              |false      |
|itv001389|orders_header_skip_immu         |false      |
|itv001389|orders_orc_snappy               |false      |
|itv001389|orders_par_bucket               |false      |
|itv001389|orders_partition_order_date     |false      |
|itv001389|orders_partition_order_date_date|false      |
|itv001389|orders_partition_order_status   |false      |
|itv001389|order_sra                       |false      |
|itv001389|orders_raj                      |false      |
|itv001389|orders_raj_external             |false      |
|itv001389|orders_raj_nopath               |false      |
|itv001389|orders_raj_nopath_text_script   |false      |
|itv001389|orders_raj_nopath_text_script1  |false      |
+---------+--------------------------------+-----------+
only showing top 20 rows

In [5]:
spark.sql("create table raj.joins_sra(Id int,Name string) row format delimited fields terminated by ',' stored as TEXTFILE location 'hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/Join1' ")

org.apache.spark.sql.catalyst.analysis.TableAlreadyExistsException: Table or view 'joins_sra' already exists in database 'raj';

In [7]:
spark.sql("select * from raj.joins_sra").show(false)

+---+----+
|Id |Name|
+---+----+
|1  |Raj |
|2  |Sai |
|3  |Hari|
|5  |Chai|
+---+----+

In [8]:
spark.sql("alter table raj.joins_sra rename to raj.join1")

[]

In [9]:
spark.sql("select * from raj.join1").show(false)

+---+----+
|Id |Name|
+---+----+
|1  |Raj |
|2  |Sai |
|3  |Hari|
|5  |Chai|
+---+----+

In [10]:
spark.sql("create table raj.join2(Id int,Place String) row format delimited fields terminated by ',' stored as textfile location 'hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/Join2' ")

[]

In [11]:
spark.sql("select * from raj.join2").show(false)

+---+---------+
|Id |Place    |
+---+---------+
|1  |Bangalore|
|2  |Chennai  |
|4  |Hyderabad|
|6  |Bangalore|
|7  |Chennai  |
+---+---------+

In [14]:
spark.sql("select a.Id,a.Name,b.Place from raj.join1 a join raj.join2 b on a.Id=b.Id").show(false)

+---+----+---------+
|Id |Name|Place    |
+---+----+---------+
|1  |Raj |Bangalore|
|2  |Sai |Chennai  |
+---+----+---------+

In [10]:
spark.sql("select a.Id,a.Name,b.Id,b.Place from raj.join1 a left outer join raj.join2 b on a.Id=b.Id").show(false)

+---+----+----+---------+
|Id |Name|Id  |Place    |
+---+----+----+---------+
|1  |Raj |1   |Bangalore|
|2  |Sai |2   |Chennai  |
|3  |Hari|null|null     |
|5  |Chai|null|null     |
+---+----+----+---------+

In [9]:
spark.sql("select a.Id,a.Name,b.Id,b.Place from raj.join1 a right outer join raj.join2 b on a.Id=b.Id").show(false)

+----+----+---+---------+
|Id  |Name|Id |Place    |
+----+----+---+---------+
|1   |Raj |1  |Bangalore|
|2   |Sai |2  |Chennai  |
|null|null|4  |Hyderabad|
|null|null|6  |Bangalore|
|null|null|7  |Chennai  |
+----+----+---+---------+

In [11]:
spark.sql("select a.Id,a.Name,b.Id,b.Place from raj.join1 a full outer join raj.join2 b on a.Id=b.Id").show(false)

+----+----+----+---------+
|Id  |Name|Id  |Place    |
+----+----+----+---------+
|1   |Raj |1   |Bangalore|
|null|null|6   |Bangalore|
|3   |Hari|null|null     |
|5   |Chai|null|null     |
|null|null|4   |Hyderabad|
|null|null|7   |Chennai  |
|2   |Sai |2   |Chennai  |
+----+----+----+---------+

In [13]:
spark.sql("select a.Id,a.Name,b.Id,b.Place from raj.join1 a, raj.join2 b where a.Id=b.Id").show(false)

+---+----+---+---------+
|Id |Name|Id |Place    |
+---+----+---+---------+
|1  |Raj |1  |Bangalore|
|2  |Sai |2  |Chennai  |
+---+----+---+---------+