In [ ]:
hadoop fs -mkdir hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/project

In [ ]:
 hadoop fs -mkdir hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/project/source

In [ ]:
 hadoop fs -mkdir hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/project/source/emp

In [ ]:
hadoop fs -copyFromLocal /home/itv001389/emp.txt hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/project/source/emp

In [ ]:
hadoop fs -cat hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/project/source/emp/emp.txt

In [ ]:
hadoop fs -mkdir hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/project/source/dep

In [ ]:
hadoop fs -copyFromLocal /home/itv001389/dept.csv hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/project/source/dep

In [1]:
import org.apache.spark.sql.SparkSession

In [2]:
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", "/user/itv001389/warehouse").
    enableHiveSupport.
    master("yarn").
    appName("Getting Started - Spark with Scala").
    getOrCreate

spark = org.apache.spark.sql.SparkSession@547444c7

org.apache.spark.sql.SparkSession@547444c7

In [4]:
spark.sql("use raj")

lastException: Throwable = null

[]

In [18]:
spark.sql("create table raj.emp(EMPNO int,ENAME string,JOB string,MGR int,HIREDATE date,SAL int,COMM int,DEPTNO int) row format delimited fields terminated by '\t' stored as textfile location'hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/project/source/emp/' ")

[]

In [17]:
spark.sql("drop table raj.emp")

lastException: Throwable = null

[]

In [19]:
spark.sql("select * from raj.emp").show(false)

+-----+------+---------+----+----------+----+----+------+
|EMPNO|ENAME |JOB      |MGR |HIREDATE  |SAL |COMM|DEPTNO|
+-----+------+---------+----+----------+----+----+------+
|7839 |KING  |PRESIDENT|null|1981-11-17|5000|null|10    |
|7698 |BLAKE |MANAGER  |7839|1981-05-01|2850|null|30    |
|7782 |CLARK |MANAGER  |7839|1981-06-09|2450|null|10    |
|7566 |JONES |MANAGER  |7839|1981-04-02|2975|null|20    |
|7788 |SCOTT |ANALYST  |7566|1987-04-19|3000|null|20    |
|7902 |FORD  |ANALYST  |7566|1981-12-03|3000|null|20    |
|7369 |SMITH |CLERK    |7902|1980-12-17|800 |null|20    |
|7499 |ALLEN |SALESMAN |7698|1981-02-20|1600|300 |30    |
|7521 |WARD  |SALESMAN |7698|1981-02-22|1250|500 |30    |
|7654 |MARTIN|SALESMAN |7698|1981-09-28|1250|1400|30    |
|7844 |TURNER|SALESMAN |7698|1981-09-08|1500|0   |30    |
|7876 |ADAMS |CLERK    |7788|1987-05-23|1100|null|20    |
|7900 |JAMES |CLERK    |7698|1981-12-03|950 |null|30    |
|7934 |MILLER|CLERK    |7782|1982-01-23|1300|null|10    |
+-----+------+---------+----+----------+----+----+------+

In [13]:
spark.sql("create table raj.dep(DEPTNO int,DNAME string,LOC string) row format delimited fields terminated by ',' stored as textfile location 'hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/project/source/dep' ")

lastException: Throwable = null

[]

In [15]:
spark.sql("select * from raj.dep").show(false)

+------+----------+--------+
|DEPTNO|DNAME     |LOC     |
+------+----------+--------+
|10    |ACCOUNTING|NEW YORK|
|20    |RESEARCH  |DALLAS  |
|30    |SALES     |CHICAGO |
|40    |OPERATIONS|BOSTON  |
+------+----------+--------+